.thanks-you {
    display: none;
    &.open {
        display: block;
    }
    &:before {
    content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 5;
    }
    &__in {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 100%;
        max-width: 530px;
        box-sizing: border-box;
        transform: translate(-50%, -50%);	
        background: #fff;
        border-radius: 4px; 
        z-index: 6;
        opacity: 1;	
        padding: 80px 75px 50px;
        display: flex;
        flex-direction: column;
        grid-gap: 40px;
        
        h2 {
            margin: 0;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
            letter-spacing: 0.84px;
        }
    }
    &__close {
        position: absolute;
        width: 18px;
        height: 18px;
        top: 25px;
        right: 25px;
        background: url("../img/close-form.svg") 0 0/contain no-repeat;
        cursor: pointer;        
    }
    &__text {
        color: #3F3F3F;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0.48px;
    }
    &__button {
        border-radius: 4px;
        background: #F0820F;
        padding: 12px 50px;
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        max-width: 130px;
        box-sizing: border-box;
        cursor: pointer;
    }
}