.header-top {
    padding: 14px 0 20px 0;
    margin-bottom: 23px;
    &__in {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        align-items: center;
        &:first-child {
            grid-gap: 52px;
            color: #595959;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        &:last-child {
            grid-gap: 18px; 
        }
    }
    &__adress {
        display: flex;
        align-items: center;
        grid-gap: 9px;
    }
    &__work-time {
        display: flex;
        align-items: center;
        grid-gap: 8px;
        .work-time__info span {
            color: #D6D6D6;
        }
    }
    &__menu-list {
        display: flex;
        align-items: center;
        grid-gap: 30px;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: relative;
        li {
            list-style: none;
        }
        li a {
            text-decoration: none;
            color: #000;
        }
        &::before {
            content: "";
            position: absolute;
            top: -3px;
            left: 0;
            width: 9px;
            height: 25px;
            background: url("/img/menu-line.svg") 0 0/contain no-repeat;
        }
    }
    &__city {
        position: relative;
        padding-left: 18px;
        padding-right: 6px;
        &::before {
            content: "";
            width: 14px;
            height: 13px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: url("/img/geo.svg") 0 0/contain no-repeat;
        }
        &::after {
            content: "";
            width: 4px;
            height: 2px;
            position: absolute;
            top: 5px;
            right: -2px;
            background: url("/img/city-arrow.svg") 0 0/contain no-repeat;
        }
    }
    &__button {
        border-radius: 4px;
        border: 1.5px solid #F0820F;
        max-width: 161px;
        width: 100%;
        padding: 7.5px 15px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 5px;
        cursor: pointer;
        span {
            color: #141414;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__contacts a {
        display: block;
        text-decoration: none;
        white-space: nowrap;
        text-align: right;
    }
    &__contacts-phone {
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        color: #000;
    }
    &__contacts-mail {
        color: #818181;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }

}

.header-bottom {
    margin-bottom: 37px;
    &__in {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__catalog-button {
        border-radius: 6px;
        background: #F0820F;
        display: flex;
        padding: 16px 30px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        color: #fff;
        cursor: pointer;
    }
    &__search {
        width: 100%;
        max-width: 940px;
        form {
            display: flex;
            align-items: center;
            input {
                border-radius: 5px 0 0 5px;
                border: 1px solid #F0820F;
                padding: 9px 19px;
                width: 100%;
                max-width: 854px;
                outline: none;
            }
            button {
                border-radius: 5px;
                background: #F0820F;
                border: none;
                outline: none;
                width: 84px;
                height: 45px;
                cursor: pointer;
            }
        }
    }
    &__right-icons {
        display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 16px;
        .right-icons__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            grid-gap: 11px;
            span {
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
            }
        }
    }
}