.popular-categories {
    &__item {
        border-radius: 9px;
        background: radial-gradient(56.02% 50.16% at 80.75% 37.15%, #F1F1F1 0%, #F5F5F5 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 53px 0 25px 0;
        grid-gap: 40px;

    }
}