.button {
    padding: 11px 9px;
    border-radius: 3px;    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 18.2px */
    cursor: pointer;
    display: block;
    text-decoration: none;
    &--primary {
        border: 1px solid #F0820F;
    }
    &--success {
        border: 1px solid #1BC39B;
    }
    &--primary:not(&--outlined) {
        background: #F0820F;
        color: #FFF;
    }
    &--success:not(&--outlined) {
        background: #1BC39B;
        color: #FFF;
    }
    &--outlined {
        background: #fff;
        color: #000;
    }
}