<div class="personal-account">
    <div class="personal-account__wrap">
        <div class="personal-account-sidebar">
            <div class="personal-account-sidebar-user-info">
                <div class="personal-account-sidebar-user-info__title">Мой профиль</div>
                <div class="personal-account-sidebar-user-info__name">Илон Маск</div>
                <div class="personal-account-sidebar-user-info__contact-data">
                    <span>ilon.mask@gmail.com</span>
                    <span>+7 (962) 278-35-56</span>
                </div>
                <a href="#" class="personal-account-sidebar-user-info__out-profile">Выйти</a>
            </div>
            <div class="personal-account-sidebar-menu">
                <ul class="personal-account-sidebar-menu__group">
                    <li class="personal-account-sidebar-menu__item @@if (active_page == 'account') {personal-account-sidebar-menu__item--active}">
                        <a href="personal-account.html">Личный кабинет</a>
                    </li>
                    <li class="personal-account-sidebar-menu__item">
                        <a href="#">Избранное</a>
                    </li>
                    <li class="personal-account-sidebar-menu__item">
                        <a href="#">Мои заказы</a>
                    </li>
                    <li class="personal-account-sidebar-menu__item">
                        <a href="#">Смена пароля</a>
                    </li>
                </ul>
                <ul class="personal-account-sidebar-menu__group">
                    <li class="personal-account-sidebar-menu__item">
                        <a href="#">Партнерская программа</a>
                    </li>
                    <li class="personal-account-sidebar-menu__item">
                        <a href="#">Создать промокод</a>
                    </li>
                    <li class="personal-account-sidebar-menu__item">
                        <a href="#">Статистика</a>
                    </li>
                </ul>
                <ul class="personal-account-sidebar-menu__group">
                    <li class="personal-account-sidebar-menu__item @@if (active_page == 'subscription') {personal-account-sidebar-menu__item--active}">
                        <a href="personal-account-subscription.html">Настройки подписки</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="personal-account-main">
           @@main
        </div>
    </div>
</div>