.bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 11;
    &__in {
        align-items: center;
        justify-content: space-around;
        display: none;
        @media all and (max-width:900px) {
            display: flex;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-gap: 11px;
        padding: 9px 0;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #000;
        text-decoration: none;
    }
    &__item:active span {
        color: #F0820F;
    }
    &__item:active .bottom-menu__image svg path {
        stroke: #F0820F;
    }
}