<section class="contacts">
    <div class="article__into contacts__info">
        <aside class="article__title-block">
            <h1 class="article__name contacts__name">Контакты</h1>
            <a href="#" class="article__backlink">Назад</a>
        </aside>
        <main class="contacts__content">
            <div class="contacts__top">
                <div class="contacts__geolocation">Тула</div>
                <a href="mailto:" class="contacts__mail">
                    <img src="./img/mail.svg" alt="icon">
                    <span>info@dars.com</span>
                </a>
                <div class="contacts__feedback">
                    <div class="header-top__button" bis_skin_checked="1">
                        <div class="header-top__button-icon" bis_skin_checked="1">
                            <img src="./img/call-back.svg" alt="icon">
                        </div>
                        <span>Обратный звонок</span>
                    </div>
                    <a href="tel:" class="contacts__number">8 (800) 440-30-25</a>
                </div>
            </div>

            <div class="contacts__bottom">
                <div class="contacts__adress">ул. Пролетарская д 44, к 3</div>
                <div class="contacts__slash"><img src="./img/slash.svg" alt="icon"></div>
                <div class="header-top__work-time" bis_skin_checked="1">
                    <div class="work-time__icon" bis_skin_checked="1">
                        <img src="./img/time.svg" alt="icon">
                    </div>
                    <div class="work-time__info" bis_skin_checked="1">
                        Пн-Вс  9.00-18.00 <span>/ сб-вс вых.</span> 
                    </div>
               </div>
            </div>

            <div class="contacts__socials-mobile">
                @@for ($i = 0; $i < 5; $i++) {
                <a href="#" class="social-item"><img src="./img/socials.svg" alt="icon"></a>
                }
            </div>

            <div class="contacts__feedback-mobile">
                <a href="tel:" class="contacts__number">8 (800) 440-30-25</a>
                <div class="header-top__button" bis_skin_checked="1">
                    <div class="header-top__button-icon" bis_skin_checked="1">
                        <img src="./img/call-back.svg" alt="icon">
                    </div>
                    <span>Обратный звонок</span>
                </div>
                
            </div>


            <div class="contacts__map">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A750827277cbf6244bac1959f87f20ad9812307a7839b6b997fd8f785d36dd3b3&amp;source=constructor" width="100%" height="360" frameborder="0"></iframe>
            </div>

            <div class="contacts__text">
                <h2>Реквизиты:</h2>
                <p>Полное наименование организации: Название организации</p>
                <p>Юридический адрес: ул. Пролетарская д 44, к 3</p>
                <p>Почтовый адрес: ул. Пролетарская д 44, к 3</p>
                <p>ИНН: 123456789</p>
                <p>КПП: 123456789</p>
                <p>БИК: 123456789</p>
                <p>Банк: ПАО Сбербанк</p>
                <p>ОГРН: 1234567891224568</p>
                <p>Электронная почта: info@dars.com</p>
                <p>Телефон: +7 (999) 999 99-99</p>
            </div>

            <div class="contacts__socials">
                @@for ($i = 0; $i < 5; $i++) {
                <a href="#" class="contacts__socials-item">
                    <img src="./img/socials.svg" alt="icon">
                </a>
                }
            </div>
            <div class="contacts__form">
                <h2 class="contacts__form-title">Связаться с нами</h2>
                <form action="">
                    <input type="text" placeholder="Имя" name="name">
                    <input type="tel" placeholder="Телефон*" name="phone">
                    <input type="text" placeholder="Ваш вопрос" name="question">
                    <button type="submit">Отправить </button>
                </form>
            </div>





            
        </main>
    </div>
</section>