.brands-items {
    padding-bottom: 67px;
    &__item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    &__letter {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 5px 24px;
        border-bottom: 1px solid #D0D0D0;
        margin-bottom: 20px;
    }
    &__logos {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        @media (width <= 960px) {
            gap: 15px;
        }
    }
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        border-radius: 6px;
        padding: 8px;
        border: 1px solid transparent;
        box-sizing: border-box;
        &:hover {
            border-color: #F0820F;
        }
        @media (width >= 1367px) {
            width: calc(100% / 11 - 20px * 10 / 11);
        }
        @media all and (max-width: 1366px) and (min-width: 1025px) {
            width: calc(100% / 8 - 20px * 7 / 8);
        }
        @media all and (max-width: 1024px) and (min-width: 769px) {
            width: calc(100% / 5 - 20px * 4 / 5);
        }
        @media all and (max-width: 768px) and (min-width: 561px) {
            width: calc(100% / 4 - 20px * 3 / 4);
        }
        @media all and (max-width: 560px) and (min-width: 320px) {
            width: calc(100% / 3 - 20px * 2 / 3);
        }
        img {
            width: 100%;
        }
    }
}


[data-word-type="en"] {
    display: none;
}