.sale {
    padding-bottom: 50px;
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 20px 25px;
        @media all and (max-width:1360px) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
        @media all and (max-width:700px) {
            grid-template-columns:1fr;
            grid-template-rows: auto;
        }
    }
    &__item {
        background-color: #ababab;
        min-height: 200px;
        height: 100%;
        padding: 17px 19px;
        display: block;
        box-sizing: border-box;
        text-decoration: none;
        display: flex;
        align-items: flex-end;
        background: linear-gradient(0deg, #7A7671 0%, rgba(122, 118, 113, 0.00) 44.03%), url("../img/sale-min.png") 0 0/cover no-repeat;
        @media all and (max-width:1360px) {
            width: 31%;
            min-height: 300px;
        }
        @media all and (max-width:1100px) {
            padding: 19px 15px 10px 15px;
        }
        @media all and (max-width:800px) {
            width: 100%;
        } 
        @media all and (max-width:800px) {
            min-height: 240px;
        }

    }
    &__title {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1px;
        color: #fff;
    }
    &__button {
        background: #F0820F;
        max-width: 96px;
        width: 100%;
        padding: 7px 0;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #000;
        @media all and (max-width:700px) {
            color: #fff;
        }
    }
    &__item:nth-child(2) {
        @media all and (max-width:1360px) {
            width: 48%;
        }
        @media all and (max-width:800px) {
            width: 100%;
        }
    }
    &__item:first-child {
        grid-area: 1 / 1 / 3 / 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 31px 69px;
        align-items: flex-start;
        background: url("../img/sale.png") 0 0/cover no-repeat;
        @media all and (max-width:1360px) {
            width: 48%;
            padding: 19px 15px 10px 15px;
        }
        @media all and (max-width:800px) {
            width: 100%;
        }
        .sale__title {
            color: #000;
            font-size: 59px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 2.98px;
            @media all and (max-width:1100px) {
                font-size: 25px;
            }
        }
        .sale__button {
            background: #F0820F;
            color: #fff;
            max-width: 162px;
            width: 100%;
            text-align: center;
            padding: 10px 0;
            margin-bottom: 19px;
            @media all and (max-width:1100px) {
                max-width: 124px;
            }
        }
        .sale__description {
            color: #DADADA;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @media all and (max-width:1100px) {
                font-size: 9px;
            }
        }
    }
    &__info {
        display: flex;
        align-items: center;
        grid-gap: 20px;
        @media all and (max-width:1100px) {
            flex-direction: column;
            align-items: flex-start;
            grid-gap: 8px;
        }
    }
    &__button-all {
        display: none;
        @media all and (max-width:560px) {
            display: block;
            background: #F1F1F1;
            font-size: 15px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-align: center;
            width: 100%;
            padding: 14px 0;
            box-sizing: border-box;
            margin-top: 20px;
        }
    }
    &__list:not(.isOpened) .sale__item:nth-of-type(n+4) {
        @media all and (max-width:560px) {
            display: none;
        }
    }
}