.brands {
    padding-bottom: 50px; 
    @media all and (max-width:900px) {
        padding-bottom: 65px;
    }
    &__in {
        @media all and (max-width:900px) {
            padding: 40px 19px 90px;
            background: #F8F8F8;
        }
    }
    &__item {
        border-radius: 20px;
        border: 1px solid #FFF;
        background: #F8F8F8;
        padding: 28px;
        max-height: 200px;
        min-height: 200px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        @media all and (max-width:900px) {
            min-height: 124px;
            background: #fff;
        }
    }
    &__item:hover {
        border: 1px solid #F0820F;
        background: #FFF;
    }
    &__arrows div {
        width: 36px;
        height: 72px;
        border-radius: 5px;
        background: #fff;
        border: none;
        outline: none;
        @media all and (max-width:900px) {
            display: none;
        }
    }
    &__arrows div:hover {
        background: #FEF3E7;
    }
    &__slider {
        position: relative;
    }
    &__arrows {
        .swiper-button-prev {
            position: absolute;
            left: -18px;
            top: 50%;
            transform: translate(0, -50%);
            cursor: pointer;
            img {
                transform: rotate(180deg);
            }
            &::after {
                content: none;
            }
        }
        .swiper-button-next {
            position: absolute;
            right: -18px;
            top: 50%;
            transform: translate(0, -50%);
            cursor: pointer;
            &::after {
                content: none;
            }
        }
    }
    &__image img {
        width: 100%;
        max-width: 156px;
        object-fit: contain;
    }
    &__title-left {
        display: flex;
        align-items: center;
        grid-gap: 45px;
        @media all and (max-width:900px) {
            flex-direction: column;
            grid-gap: 18px;
            align-items: flex-start;
            margin-bottom: 0;
        }
        .title {
            white-space: nowrap;
            margin: 0;
            @media all and (max-width:900px) {
                margin-bottom: 0px;
            }
        }
    }
    &__scrollbar {
        margin-top: 40px;
        position: relative !important;
        @media all and (max-width:900px) {
            margin-top: 70px;
        }
    }
    &__button-categories {
        border-radius: 31px;
        border: 2px solid #000;
        padding: 10px 40px 10px 27px;
        max-width: 191px;
        width: 100%;
        box-sizing: border-box;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.48px;
        position: relative;
        cursor: pointer;
        @media all and (max-width:900px) {
            font-size: 16px;
        }
    }
    &__button-categories:after {
        content: "";
        width: 10px;
        height: 7px;
        position: absolute;
        top: 17px;
        right: 20px;
        background: url('../img/arrow-down.svg') 0 0/contain no-repeat;
    }
    &__slider-container {
        position: relative;
        margin-top: 50px;
    }
    &__categories-list {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 10;
        border-radius: 6px;
        border: 2px solid #000;
    }
    &__categories-list.open {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        width: 100%;
        min-width: 317px;
        background: #fff;
        box-sizing: border-box;
    }
    &__categories-list li {
        list-style: none;
        padding: 15px 27px;
    }
    &__categories-list li a {
        text-decoration: none;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #000;
    }
    &__categories-list li:hover {
        background: rgba(240, 130, 15, 0.20);
    }

    &__button-all {
        @media all and (max-width: 960px) {
            margin-top: 25px;
            display: inline-block;
        }
    }
}