.brands {
    padding-bottom: 50px; 
    &__item {
        border-radius: 20px;
        border: 1px solid #FFF;
        background: #F8F8F8;
        padding: 28px;
        max-height: 200px;
        min-height: 200px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }
    &__item:hover {
        border: 1px solid #F0820F;
        background: #FFF;
    }
    &__arrows div {
        width: 36px;
        height: 72px;
        border-radius: 5px;
        background: #fff;
        border: none;
        outline: none;
    }
    &__arrows div:hover {
        background: #FEF3E7;
    }
    &__slider {
        position: relative;
    }
    &__arrows {
        .swiper-button-prev {
            position: absolute;
            left: -18px;
            top: 50%;
            transform: translate(0, -50%);
            cursor: pointer;
            img {
                transform: rotate(180deg);
            }
            &::after {
                content: none;
            }
        }
        .swiper-button-next {
            position: absolute;
            right: -18px;
            top: 50%;
            transform: translate(0, -50%);
            cursor: pointer;
            &::after {
                content: none;
            }
        }
    }
    &__image img {
        width: 100%;
        max-width: 156px;
        object-fit: contain;
    }
    &__title-left {
        display: flex;
        align-items: center;
        grid-gap: 45px;
        .title {
            white-space: nowrap;
        }
    }
    &__button-categories {
        border-radius: 31px;
        border: 2px solid #000;
        padding: 15px 40px 15px 27px;
        max-width: 191px;
        width: 100%;
        box-sizing: border-box;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.48px;
        position: relative;
        cursor: pointer;
    }
    &__button-categories:after {
        content: "";
        width: 10px;
        height: 7px;
        position: absolute;
        top: 23px;
        right: 20px;
        background: url('/img/arrow-down.svg') 0 0/contain no-repeat;
    }
    &__slider-container {
        position: relative;
    }


    
}