.compare {
    &__page {
        margin-bottom: 90px;
        display: flex;
        position: relative;
        & * {
            box-sizing: border-box;
            user-select: none;
        }
    }
    &__page-left {
        width: 281px;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: #fff;
        padding-bottom: 70px;
        z-index: 10;
        @media (width <= 960px) {
            width: calc(50vw - 20px);
        }
    }
    &__page-top {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }
    &__page-right {
        width: 100%;
        padding-bottom: 70px;
        padding-left: 281px;
        box-sizing: border-box;
        @media (width <= 960px) {
            padding-left: calc(50vw - 20px);
        }
    }
    &__page-buttons {
        flex: 1 1 auto;
        @media (width <= 960px) {
            flex-direction: column;
        }
    }
    &__page-button {
        @media (width <= 960px) {
            width: 100%;
            box-sizing: border-box;
        }
    }
    &__page-add-to-cart {
        flex: 1 1 auto;
        text-align: center;
    }
    &__page-items,
    &__page-right &__page-bottom-items {
        display: flex;
        width: fit-content;
    }
    &__page-left .elements-item {
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
    }
    &__page-items .elements-item,
    &__page-bottom-item-table {
        min-width: 321px;
        max-width: 321px;
        padding: 0 35px;
        @media (width <= 960px) {
            min-width: calc(50vw - 20px);
            max-width: calc(50vw - 20px);
            padding: 0 8px;
        }
        
    }
    &__page .elements-item {
        margin-bottom: 0;
        box-sizing: border-box;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }
    &__page-bottom,
    &__page-top {            
        border-right: 1px solid #EEEEEE;
        z-index: 10;
    }
    &__page-bottom-item-title {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        height: 20px;
        margin-top: 0;
        margin-bottom: 20px;
        &:not(:first-of-type) {
            margin-top: 40px;
        }
        @media (width <= 960px) {
            margin-top: 40px;
        }
    }
    &__page-right &__page-bottom-item-title {
        @media (width >= 961px) {
            opacity: 0;
            visibility: hidden;
        }
        
    }

    &__page .os-scrollbar.os-scrollbar-horizontal {
        bottom: 0;
        z-index: 11;
    }
    &__page-left &__page-bottom-item-table {
        @media (width >= 961px) {
            padding-left: 24px;
        }
    }
    &__page-bottom-item-tr {
        width: 100%;
    }
    &__page-bottom-item-td {
        @media (width >= 961px) {
            margin-bottom: 10px;
            position: relative;
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: -24px;
                right: -24px;
                top: 12px;
                border-bottom: 1px dashed #ccc;
            }
        }
        @media (width <= 960px) {
            margin-bottom: 20px;
        }
    }
    &__page-left &__page-bottom-item-td {
        &:before {
            left: 0;
        }
    }
    &__page-bottom-item-td strong {
        display: block;
        margin-bottom: 5px;
        color: #484848;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__page-bottom-item-td span {
        &::before,
        &::after {
            content: "\00a0 \00a0";
        }
        display: inline;
        background-color: #fff;
        color: #333;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: relative;
        z-index: 10;
        margin-left: -6px;
        & u {
            color: #F0820F;
            text-decoration: none;
        }
    }
    &__page-right-line {
        position: absolute;
        left: 0;
        transform: translateY(-10px);
        right: -24px;
        height: 50px;
        border-radius: 3px;
        background: #F6F6F6;
        mix-blend-mode: darken;
        z-index: 11;
        pointer-events: none;
        display: none;
        transition: .1s all 0s ease;
    }
    &__page-right,
    &__page-left {
        padding-top: 38px;
    }
    &__page-item {
        position: relative;
        display: flex;
        flex-direction: column;
        @media (width >= 961px) {
            &.isPinned {
                position: sticky;
                left: 0;
                order: -10;
                z-index: 11;
            }
        }
        @media (width <= 960px) {
            height: 100%;
        }
        &::before {
            content: "";
            border-radius: 6px;
            position: absolute;
            top: -36px;
            bottom: -36px;
            left: -1px;
            right: -1px;
            background: #FAFAFA;
            mix-blend-mode: multiply;
            opacity: 0;
            visibility: hidden;
            z-index: 9;
        }
        &.isPinned::before {
            opacity: 1;
            visibility: visible;
        }
    }
    &__page-item.isPinned &__page__button--compare {
        background: var(--bgColor);
        opacity: 1;
    }
    &__page-left &__page-item::before {
        opacity: 1;
        visibility: visible;
    }
    &__page-left &__page-item &__page-bottom-item-td span {
        background-color: #FAFAFA;
    }
    &__page-right &__page-item.isPinned {
        @media (width <= 960px) {
            display: none;
        }
    }
    &__page-item.isPinned &__page-bottom-item-td span {
        background-color: #FAFAFA;
    }
    &__page-top .tabs__slider-item-text {
        @media (width <= 960px) {
            order: -1;
            margin-bottom: 11px;
        }
    }
    &__page-top .tabs__slider-item-image {
        @media (width <= 960px) {
            order: -2;
        }
    }
    &__page-left > &__page-top,
    &__page-left > &__page-bottom {
        @media (width <= 960px) {
            display: none;
        }
    }
    &__page-left > &__page-item {
        @media (width >= 961px) {
            display: none;
        }
    }
    &__page-conpare-with-it {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        width: 100%;
        border: none;
        border-radius: 6px;
        background: #F8F8F8;
        .icon {
            width: 20px;
            font-size: 0;
        }
        .text {
            width: calc(100% - 20px - 10px);
            color: #000;
            leading-trim: both;
            text-edge: cap;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__page-left &__page-conpare-with-it {
        background: #FFD748;
        pointer-events: none;
        .text {
            color: #000;
        }
    }
}
