.brands-details {
    &__catalog-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 28px;
        padding-top: 10px;
        position: sticky;
        top: 0;
        z-index: 13;
        background: #fff;
    }
    &__page-title {
        margin-bottom: 0;
    }
    &__catalog {
        .pagination {
            margin-bottom: 60px;
        }
    }
    &__catalog-items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-bottom: 30px;
        @media all and (min-width: 961px) and (max-width: 1280px) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media (width <= 960px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
        }
        @media (width <= 640px) {
            grid-template-columns: repeat(2, 1fr);
        }
        .elements-item {
            width: 100%;
        }
    }
}