.brands-details {
    &__catalog-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 28px;
    }
    &__page-title {
        margin-bottom: 0;
    }
    &__catalog-items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        margin-bottom: 30px;
        .elements-item {
            width: 100%;
        }
    }
}