.up-button {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 65px;
    transition: all .3s ease;
    cursor: pointer;
    z-index: 10;
    @media (width <= 1626px) {
        width: 50px;
    }
    &:hover {
        background: rgba(240, 130, 15, 0.10);
    }
    &__in {
        padding: 17px;
        position: absolute;
        bottom: 39px;
        left: 0;
        right: 0;
        transition: all .3s ease;
    }
    &:hover &__in {
        bottom: 79px;
    }
}