.tabs {
    padding: 70px 0 50px 0;
    background: #F8F8F8;
    &__in {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        grid-gap: 40px;
    }
    &__left {
        max-width: 361px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        grid-gap: 20px;
    }
    &__left-item {
        padding: 10px 38px 10px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.6px;
        position: relative;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            width: 4px;
            height: 8px;
            top: 46%;
            right: 10px;
            background: url("/img/arrow-orange.svg") 0 0/contain no-repeat;
        }
    }
    &__right {
        max-width: 1225px;
        width: 100%;
        position: relative;
    }
    &__slider {
        .swiper-wrapper {
            padding-bottom: 25px;
        }
    }
    &__slider-item-image {
        width: 258px;
        height: 263px;
        margin-bottom: 15px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__slider-item-price {
        display: flex;
        align-items: flex-end;
        grid-gap: 11px;
        margin-bottom: 17px;
        .new-price {
            font-size: 21px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.626px;
        }
        .old-price {
            color: #949494;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.47px;
            text-decoration: line-through;
        }
    }
    &__slider-item-stickers {
        display: flex;
        align-items: center;
        grid-gap: 11px;
        margin-bottom: 17px;
        .sticker {
            font-size: 15.659px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.47px;
            color: #fff;
            box-sizing: border-box;
            padding: 5px 14px;
            &.sticker-discount {
                border-radius: 24px;
                background: #F0380F;
            }
            &.sticker-new {
                border-radius: 23.766px;
                background: #0F7DF0;
            }
        }
        
    }
    &__arrows .swiper-button-prev::after,
    &__arrows .swiper-button-next::after {
        content: none;
    }

    &__arrows div:hover {
        background: #FEF3E7; 
    }
    &__slider {
        position: relative;
    }
    &__arrows div {
        width: 36px;
        height: 72px;
        border-radius: 5px;
        background: #fff;
        border: none;
        outline: none;
    }
    &__arrows {
        .swiper-button-prev {
            position: absolute;
            left: -18px;
            top: 35%;
            transform: translate(0, -50%);
            cursor: pointer;
            img {
                transform: rotate(180deg);
            }
            &::after {
                content: none;
            }
        }
        .swiper-button-next {
            position: absolute;
            right: -18px;
            top: 35%;
            transform: translate(0, -50%);
            cursor: pointer;
            &::after {
                content: none;
            }
        }
    }
    &__image-hidden {
        display: none;
    }
}