.tabs {
    padding: 70px 0 50px 0;
    @media all and (max-width:900px) {
        padding: 30px 0 50px 0;
    }
    background: #F8F8F8;
    &__in {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        grid-gap: 40px;
        @media all and (max-width:900px) {
            flex-direction: column;
        }
    }
    &__left {
        max-width: 361px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        grid-gap: 20px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.6px;
        @media all and (max-width:900px) {
            flex-direction: row;
            max-width: 100%;
            font-size: 16px; 
            grid-gap: 25px;
        }
    }
    &__left-item {
        padding: 10px 38px 10px;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.6px;
        position: relative;
        cursor: pointer;
        @media all and (max-width:900px) {
            padding: 0 15px 0 0;
            font-size: 16px;
            white-space: nowrap;
        }
        &::after {
            content: '';
            position: absolute;
            width: 4px;
            height: 8px;
            top: 46%;
            right: 10px;
            background: url("../img/arrow-orange.svg") 0 0/contain no-repeat;
            @media all and (max-width:900px) {
                right: 0;
            }
        }
    }
    &__right {
        max-width: 1225px;
        width: 100%;
        position: relative;
    }
    &__slider {
        .swiper-wrapper {
            padding-bottom: 25px;
        }
    }
    &__slider-item-text {
        color: #4A4A4A;
        font-size: 16 px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        @media all and (max-width:900px) {
            font-size: 14px;
        }
    }
    &__slider-item-image {
        // width: 258px;
        max-height: 263px;
        margin-bottom: 15px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: 263px;
        }
    }
    &__slider-item-price {
        display: flex;
        align-items: flex-end;
        grid-gap: 11px;
        margin-bottom: 17px;
        @media all and (max-width:900px) {
            flex-direction: column;
            align-items: flex-start;
        }
        .new-price {
            font-size: 21px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.626px;
            @media all and (max-width:900px) {
                font-size: 17px;
            }
        }
        .old-price {
            color: #949494;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.47px;
            text-decoration: line-through;
            @media all and (max-width:900px) {
                font-size: 13px; 
            }
        }
    }
    &__slider-item-stickers {
        display: flex;
        align-items: center;
        grid-gap: 11px;
        margin-bottom: 17px;
        @media all and (max-width:900px) {
            grid-gap: 5px;
        }
        .sticker {
            font-size: 15.659px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.47px;
            color: #fff;
            box-sizing: border-box;
            padding: 5px 14px;
            @media all and (max-width:900px) {
                padding: 5px 10px;
                font-size: 11px;
            }
            &.sticker-discount {
                border-radius: 24px;
                background: #F0380F;
            }
            &.sticker-new {
                border-radius: 23.766px;
                background: #0F7DF0;
            }
        }
        
    }
    &__arrows .swiper-button-prev::after,
    &__arrows .swiper-button-next::after {
        content: none;
    }

    &__arrows div:hover {
        background: #FEF3E7; 
    }
    &__slider {
        position: relative;
    }
    &__arrows div {
        width: 36px;
        height: 72px;
        border-radius: 5px;
        background: #fff;
        border: none;
        outline: none;
        @media all and (max-width:900px) {
            display: none;
        }
    }
    &__arrows {
        .swiper-button-prev {
            position: absolute;
            left: -18px;
            top: 35%;
            transform: translate(0, -50%);
            cursor: pointer;
            img {
                transform: rotate(180deg);
            }
            &::after {
                content: none;
            }
        }
        .swiper-button-next {
            position: absolute;
            right: -18px;
            top: 35%;
            transform: translate(0, -50%);
            cursor: pointer;
            &::after {
                content: none;
            }
        }
    }
    &__image-hidden {
        display: none;
    }
    &__image {
        position: relative;
    }
    &__image:after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 55px;
        height: 2px;
        background: #FFE248;
    }
}