.action {
    margin-bottom: 80px;
    &__into {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        
        @media(max-width:1200px){
            flex-wrap: wrap;
        }
        @media(max-width:560px){
            display:block;
        }
    }

    &__title {
        width:25%;
        
        @media (max-width:1200px) {
            width:100%;
        }
    }

    &__name {
        color: #000;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.08px;
    }

    &__backlink {
        color: #0F7DF0;
        /*leading-trim: both;
        text-edge: cap;*/
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 30px;
        display: flex;
        align-items: center;
        text-decoration: none;
        @media (max-width:1200px) {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    &__backlink:before{
        content:"";
        display: inline-block;
        margin-right: 5px;
        width: 5px;
        height: 7px;
        flex-shrink: 0;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="5" height="7" viewBox="0 0 5 7" fill="none"><path d="M4 6.5L1 3.5L4 0.5" stroke="%230F7DF0" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
    &__content {
        width:50%;
        padding: 0 40px 0 10px;
        @media (max-width:1200px) {
            width:60%;
        }
        @media (max-width:900px) {
            width:100%;
        }
    }

    &__image img {
        width: 100%;
    }

    &__text {
        margin-top:30px;
        color: #8C8C8C;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 20.8px */
    }

    &__other {
        width:25%;
        @media (max-width:1200px) {  
            width:30%; 
        }  
        @media (max-width:900px) {  
            width:100%;
        }
    }

    &__other-title {
        color: #000;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.72px;
    }

    &__other-items {
        position: relative;
    }

    &__other-item {
        position: relative;
        margin-top: 30px;
    }

    &__other-item-image {
        padding-top: 66.5%;
        position: relative;
        img{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__other-item-title {
        position: absolute;
        background-color: #FFF;
        color: #000;
        z-index: 1;
        top: 15px;
        left: 15px;
        right: 15px;
        display: block;
        padding: 10px 15px;
        text-decoration: none;
    }

    &__other-item-name {
        display: block;
    }

    &__other-item-date {
        display: flex;
        align-items: center;
        color:#8C8C8C;        
        margin-top: 5px;
    }

    &__other-item-date:after{
        content:"";
        display: inline-block;
        width: 9px;
        height: 14px;
        margin-left: 25px;
        background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none"><path d="M1.66797 1.21228L7.19508 6.73939L1.66797 12.2665" stroke="%231D1D1D" stroke-width="1.84237" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }
}
