<form action="">
    <div class="modal-box__row required">
        <input type="text" name="name" id="modal-box__control-name2" placeholder="" required="" data-listener-added_326aa8a4="true">
        <label for="modal-box__control-name2" class="modal-box__label"><span>Имя</span></label>
    </div>
    <div class="modal-box__row">
        <input type="tel" name="phone" id="modal-box__control-phone2" placeholder="" data-listener-added_326aa8a4="true">
        <label for="modal-box__control-phone2" class="modal-box__label"><span>Телефон</span></label>
    </div>
    <div class="modal-box__row">
        <textarea type="tel" name="phone" id="modal-box__control-textarea2" placeholder=""></textarea>
        <label for="modal-box__control-textarea2" class="modal-box__label"><span>Сообщение</span></label>
    </div>
    @@include('../button/button.html', {
        "type": "primary",
        "link": false,
        "outlined": false,
        "text": "Перезвоните мне",
        "class_name": "popup-modal__submit"
    })
    <div class="modal-box__consent-text">
        <p>Нажимая кнопку «Перезвоните мне», я даю согласие на обработку персональных данных, в
            соответствии с <a href="/politika-konfidentsialnosti/" target="_blank">Политикой</a>
            и соглашаюсь с Правилами</p>
    </div>
</form>
