<div class="popup-modal" data-modal-id="@@modal_id">
    <form class="modal-delete-promocode">
        <input type="hidden" value="" name="id-del-promocode">
        <div class="popup-modal__closer">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 26 26" fill="none">
                <path d="M2 24L13 13M13 13L24 2M13 13L2 2M13 13L24 24" stroke="#A9A9A9" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="modal-delete-promocode__title">Вы точно хотите удалить промокод?</div>
        <div class="modal-delete-promocode__controls">
            <button type="button" class="modal-delete-promocode__btn modal-delete-promocode__yes">Да</button>
            <button type="button" class="modal-delete-promocode__btn modal-delete-promocode__no">Нет</button>
        </div>
    </form>
</div>