<div class="discount-info">
    <button type="button" class="discount-info__btn discount-info__btn--fire js-discount-info-btn"></button>
</div>

<div class="modal-discount-info modal-discount-info--hidden js-modal-discount-info">
    <div class="modal-discount-info__wrap">
        <div class="modal-discount-info__header">Уважаемый покупатель!</div>
        <div class="modal-discount-info__body">По промокоду <span class="modal-discount-info__promocode">ВЕСНАКРАСНА2023</span> в Корзине будет применена <span class="modal-discount-info__discount">скидка 10%</span> для <a href="/catalog/" class="modal-discount-info__link">всех товаров каталога на сайте</a></div>
        <div class="modal-discount-info__footer">Желаем приятных покупок!</div>
    </div>
</div>

