<div class="modal modal--default" data-modal-id="@@modal_id">
    <div id="comp_a2ed7ef7fedbf3b6ea9efc69a24048b1">
        <div class="modal-box js_closest">
            <button type="button" class="modal-box__btn-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M2 20L11 11L2 20ZM11 11L20 2L11 11ZM11 11L2 2L11 11ZM11 11L20 20L11 11Z" fill="white">
                    </path>
                    <path d="M2 20L11 11M11 11L20 2M11 11L2 2M11 11L20 20" stroke="" stroke-width="3"
                        stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </button>
            <div class="modal-box__form">
                <div class="modal-box__wrap">
                    <div class="modal-box__title">Обратный звонок</div>
                    <div class="modal-box__body">
                        @@fields
                        <div class="popup-modal__message js_modal_thanks" style="display: none;">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 138 92" fill="none">
                                    <path
                                        d="M0 49.9136L47.2573 92L138 11.4199L124.972 0L47.2573 68.9996L12.8472 38.4133L0 49.9136Z"
                                        fill="#1BC49B"></path>
                                </svg>
                            </div>
                            <div class="message">
                                Спасибо. Заявка принята
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

