.popup-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(35, 35, 35, 0.3);
    z-index: 15;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    font-size: 0;
    &.isOpened {
        opacity: 1;
        visibility: visible;
    }
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 1px;
    }
    &__content {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: middle;
        width: 618px;
        min-height: 500px;
        background: #FFF;
        text-align: left;
        padding: 72px 86px 53px;
        box-sizing: border-box;
        position: relative;
        @media (width <= 960px) {
            width: calc( 100% - 1px);
            padding: 87px 20px;
        }
    }
    &__closer {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        width: 72px;
        height: 72px;
        padding: 25px;
        box-sizing: border-box;
    }
    &__title {
        color: #000;
        text-align: center;
        leading-trim: both;
        text-edge: cap;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.08px;
        margin-bottom: 60px;
    }
    &__form {
        padding: 0 32px;
        
        @media (width <= 960px) {
            padding: 0 20px;
        }
    }
    &__submit {
        width: 100%;
        padding: 22px 9px;
    }
    &__message {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 27px;
        .icon {
            width: 138px;
            margin-bottom: 91px;
        }
        .message {
            color: #393939;
            text-align: center;
            leading-trim: both;
            text-edge: cap;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.54px;
        }
    }
}

.form {
    &__field {
        width: 100%;
        margin-bottom: 20px;
        input[type="text"],
        input[type="number"],
        input[type="email"],
        input[type="tel"],
        input[type="password"] {
            width: 100%;
            height: 50px;
            padding: 0 20px;
            color: #999;
            box-sizing: border-box;
            border-radius: 6px;
            border: 1px solid #CED0D6;
            background: #FFF;
            &,
            &::placeholder {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.48px;
            }
        }
        textarea {
            width: 100%;
            height: 131px;
            padding: 20px;
            color: #999;
            box-sizing: border-box;
            border-radius: 6px;
            border: 1px solid #CED0D6;
            background: #FFF;
            &,
            &::placeholder {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.48px;
            }
        }
    }
}

.modal-delete-promocode {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 70px 75px 50px;
    background: #fff;
    max-width: 530px;
    width: 100%;
    box-sizing: border-box;

    &__title {
        text-align: center;
        font-size: 36px;
        letter-spacing: 1.08px;
    }

    &__controls {
        margin: 40px auto 0;
        max-width: 380px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        grid-auto-rows: 50px;
    }

    &__btn {
        font-size: 20px;
        font-weight: 500;
        border-radius: 4px;
        border: none;
        outline: 2px solid;
        cursor: pointer;

        &:first-child {
            outline-color: #F0820F;
            color: #fff;
            background-color: #F0820F;
        }

        &:last-child {
            outline-color: #F0820F;
            background-color: #fff;
            color: #F0820F;
        }
    }
}

.modal-delete-order {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 70px 75px 50px;
    background: #fff;
    max-width: 530px;
    width: 100%;
    box-sizing: border-box;

    &__title {
        text-align: center;
        font-size: 36px;
        letter-spacing: 1.08px;
    }

    &__controls {
        margin: 40px auto 0;
        max-width: 380px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        grid-auto-rows: 50px;
    }

    &__btn {
        font-size: 20px;
        font-weight: 500;
        border-radius: 4px;
        border: none;
        outline: 2px solid;
        cursor: pointer;

        &:last-child {
            outline-color: #F0820F;
            color: #fff;
            background-color: #F0820F;
        }

        &:first-child {
            outline-color: #F0820F;
            background-color: #fff;
            color: #F0820F;
        }
    }
}



.modal-webform {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 950;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(35 35 35 / 50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}
.modal-box {
    border-radius: 12px;
    background: #FFF;
    position: relative;
    width: 90vw;
    max-width: 530px;
    
    // @media(width <= 420px){
    //     max-width: 90%;
    // }

    .modal-box-registration {
        max-width: 530px;

        @media(width <= 650px){
            max-width: 390px;
        }
    }

    &__form {
        max-height: 90vh;
        overflow: auto;
    }

    &__btn-close {
        position: absolute;
        top: 15px;
        right: 25px;
        stroke: #A9A9A9;
        border: none;
        padding: 0;
        margin: 0;
        background: none;
        cursor: pointer;
        width: 20px;
        height: 20px;
        
        @media(width <= 420px){
            right: 15px;
            width: 15px;
            height: 15px;
        }

        &:hover,
        &:focus,
        &:focus-within {
            stroke: #F0820F;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    &__wrap {
        padding: 70px 75px 40px;

        @media(width <= 650px){
            padding: 35px 30px 20px;
        }

        @media(width <= 420px){
            padding: 30px 15px 20px;
        }
    }

    &__title {
        text-align: center;
        font-size: 36px;
        letter-spacing: 1.08px;

        @media(width <= 650px){
            font-size: 26px;
        }
    }

    &__body {
        margin-top: 35px;
        display: grid;
        gap: 20px;

        @media(width <= 650px){
            margin-top: 20px;
        }
    }

    &__row {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    input, textarea {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 18px 20px;
        border: none;
        border-bottom: 1px solid #CED0D6;
        border-radius: 0;
        background-color: #fff;
        transition: background 0.3s, border-color 0.3s;

        @media(width <= 650px){
            padding: 10px 15px;
        }

        &:focus,
        &:focus-within,
        &:hover {
            border-color: #F0820F;
            outline: none;
            background: #f0820f1c;
        }
    }
    

    input:focus + label span,
    input:focus-within + label span,
    input:not(:placeholder-shown) + label span,
    textarea:focus + label span,
    textarea:focus-within + label span,
    textarea:not(:placeholder-shown) + label span {
        transform: translate(-10px, -37px);
        font-size: 14px;

        @media(width <= 650px){
            transform: translate(-10px, -24px);
            font-size: 12px;
        }
    }

    &__label {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 18px 20px;
        cursor: pointer;
        color: #999;
        font-size: 16px;
        font-weight: normal;
        

        @media(width <= 650px){
            font-size: 14px;
            padding: 10px 15px;
        }

        span {
            position: relative;
            display: flex;
            gap: 3px;
            transition: transform 0.3s, font-size 0.3s;

            @media(width <= 650px){

            }
        }
    }

    &__footer {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        gap: 10px;
        grid-auto-rows: 56px;

        @media(width <= 650px){
            margin-top: 20px;
            grid-template-columns: 80%;
            grid-auto-rows: 50px;
            justify-content: center;
        }
    }

    &__btn {
        border-radius: 4px;
        background: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        border: none;

        &--orange {
            background-color: #F0820F;
            color: #fff;
            font-weight: 500;
            font-size: 20px;

            @media(width <= 650px){
                font-size: 16px;
            }
        }

        &--gray {
            outline: 1px solid #E2E2E2;
            font-size: 15px;

            @media(width <= 650px){
                font-size: 16px;
            }
        }
    }

    &__consent-text {
        margin-top: 25px;
        color: #9A9A9A;
        font-size: 13px;
        letter-spacing: 0.39px;

        @media(width <= 650px){
            margin-top: 10px;
            font-size: 10px;
        }

        p {
            margin: 0;
        }

        a {
            color: #F0820F;
            text-decoration: none;
        }
    }
    &__row.required &__label span:after {
        content: '*';
        color: #F0820F;
    }
}

.modal-box-successfully {
    max-width: 585px;

    &__wrap {
        padding: 80px 75px 50px;
    }

    &__title {
        font-size: 28px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: 0.84px;
        display: grid;
    }

    &__body {
        margin-top: 40px;
        color: #3F3F3F;
        font-size: 18px;
        letter-spacing: 0.54px;
    }

    &__footer {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 130px;
        gap: 10px;
        grid-auto-rows: 56px;
    }

    .modal-box {
        &__btn-ok {
            text-transform: uppercase;
        }
    }
    
}

.modal-box-authorization {
    width: 530px;

    .modal-box__wrap {
        padding: 90px 75px 70px;
    }

    .modal-box__footer {
        grid-template-columns: 1.1fr 1fr;
        margin-top: 30px;
    }

    .modal-box__body {
        margin-top: 50px;
    }

    .modal-box__after-body {
        margin-top: 10px;
    }
    
    .modal-box__btn-link {
        border: none;
        padding: 10px 14px;
        margin: 0;
        background: none;
        font-size: 14px;
        cursor: pointer;
    }
}


.modal-box-password-recovery {
    max-width: 530px;

    .modal-box__wrap {
        padding: 90px 75px 70px;
    }
    
    .modal-box__title {
        font-size: 32px;
    }
    
    .modal-box__info {
        margin-top: 20px;
        color: #999;
        font-size: 14px;
        letter-spacing: 0.42px;
    }

    .modal-box__footer {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    
    .modal-box__infooter {
        display: grid;
        grid-auto-rows: 1fr;
        gap: 5px;
    }
    
    .modal-box__infooter button {
        background: none;
        padding: 0;
        margin: 0;
        border: none;
        text-align: right;
        cursor: pointer;
        font-size: 15px;
    }
    

}


.discount-info {
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 112;

    @media(max-width: 900px){
        z-index: 105;
        top: auto;
        bottom: 69px;
        right: 96px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        border: none;
        padding: 0;
        background: 50% / auto #F79402 no-repeat;
        cursor: pointer;

        @media(max-width: 900px){
            width: 36px;
            height: 36px;
        }

        &--fire {
            background-image: url(../img/fire.svg);
            outline: 6px solid #F5E6CE;

            @media(max-width: 900px){
                background-size: 19px 22px;
                outline-width: 3px;
            }
        }

        &--cross {
            background-image: url(../img/cross.svg);

            @media(max-width: 900px){
                background-size: 12px;
            }
        }
    }
}

.modal-discount-info {
    position: fixed;
    z-index: 112;
    right: 8rem;
    top: 4rem;

    @media(max-width: 900px){
        top: auto;
        bottom: 7rem;
        right: auto;
        left: 50%;
        max-width: 90%;
        width: 100%;
        transform: translateX(-50%);
    }

    &__wrap {
        max-width: 431px;
        width: 100%;
        border: 3px solid #F0820F;
        background: #FFF;
        padding: 16px 10px;
        color: #353535;
        box-sizing: border-box;

        @media(max-width: 900px){
            margin-left: auto;
        }
    }

    &--hidden {
        display: none;
    }

    &__header {
    }

    &__body {
        margin-top: 20px;
    }

    &__promocode {
        font-weight: 700;
    }

    &__discount {
        font-weight: 700;
        color: #F0820F;
    }

    &__link {
        color: #F0820F;
        text-decoration: underline;
    }

    &__footer {
        margin-top: 20px;
    }
}