<form action="">
    <div class="modal-box__row required">
        <input type="text" name="name" id="modal-box__control-name3" placeholder="" required="" data-listener-added_326aa8a4="true">
        <label for="modal-box__control-name3" class="modal-box__label"><span>Имя</span></label>
    </div>
    <div class="modal-box__row">
        <input type="tel" name="phone" id="modal-box__control-phone3" placeholder="" data-listener-added_326aa8a4="true">
        <label for="modal-box__control-phone3" class="modal-box__label"><span>Телефон</span></label>
    </div>
    <div class="modal-box__row">
        <textarea type="tel" name="phone" id="modal-box__control-textarea3" placeholder=""></textarea>
        <label for="modal-box__control-textarea3" class="modal-box__label"><span>Сообщение</span></label>
    </div>
    @@include('../button/button.html', {
        "type": "primary",
        "link": false,
        "outlined": false,
        "text": "Подтвердить",
        "class_name": "popup-modal__submit"
    })
</form>
