.catalog-section {

    &__filter {

    }

    &__main {
    }

    &__title {
    }

    &__title-count {
    }

    &__tags {
    }
}
.catalog-filter {
}
.tags-block {

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        width: max-content;
    }

    &__list:hover &__item {
        color: #111214;
    }

    &__item {
        cursor: context-menu;
        margin: 0 10px 10px 0;
        padding: 5px 14px;
        color: #F5F5F5;
        font-size: 12px;
        font-weight: 300;
        background-color: #F5F5F5;
        display: flex;
        align-items: center;
        border-radius: 4px;

        &:hover,
        &.active {
            color: #fff;
            background-color: #F0820F;
        }
    }

    &__item-title {

    }

    &__btn-close {
        display: none;
        cursor: pointer;
        font-size: 0;
        padding: 0;
        margin: 0;
        border: 0;
        margin-left: 5px;
        width: 5px;
        height: 5px;
        background: 50% / contain no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='7' viewBox='0 0 7 7' fill='none'%3E%3Cpath opacity='0.9' d='M1 6L3.50001 3.50001M3.50001 3.50001L6 1M3.50001 3.50001L1 1M3.50001 3.50001L6 6' stroke='white' stroke-width='0.7' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
}
