.footer {
    &__in {
        display: flex;
        grid-gap: 20px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__left {
        background: #F8F8F8;
        padding: 38px 72px 27px;
        max-width: 1074px;
        width: 100%;
        box-sizing: border-box;
    }
    &__info,
    &__menus {
        display: flex;
    }
    &__info {
        grid-gap: 0 110px;
        flex-wrap: wrap;
    }
    &__menus {
        grid-gap: 105px;
    }
    &__first {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__logo img {
        max-width: 164px;
        width: 100%;
        object-fit: 
        contain;
    }
    &__phone {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
        margin-bottom: 32px;
        color: #000;
        display: block;
    }
    &__coopy,
    &__contacts {
        width: 100%;
    }
    &__contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 47px;
        margin-bottom: 23px;
    }
    &__menu-list {
        padding: 0;
        display: flex;
        flex-direction: column;
        grid-gap: 18px 30px;
        flex-wrap: wrap;
        max-height: 165px;
        margin-top: 18px;
        margin-bottom: 0;
    }
    &__menu-list li {
        list-style: none;
    }
    &__menu-list li a {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
    }
    &__menu-title {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__adress {
        display: flex;
        align-items: center;
        grid-gap: 9px;
    }
    &__city {
        position: relative;
        padding-left: 18px;
        padding-right: 6px;
        &::before {
            content: "";
            width: 14px;
            height: 13px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: url("/img/geo-black.svg") 0 0/contain no-repeat;
        }
        &::after {
            content: "";
            width: 4px;
            height: 2px;
            position: absolute;
            top: 5px;
            right: -2px;
            background: url("/img/city-arrow-black.svg") 0 0/contain no-repeat;
        }
    }
    &__street {
        color: #595959;
    }
    &__work-time {
        display: flex;
        align-items: center;
        grid-gap: 8px;
        .work-time__info span {
            color: #595959;
        }
    }
    &__mail {
        display: flex;
        align-items: center;
        grid-gap: 7px;
        .mail {
            text-decoration: none;
            color: #595959;
        }
    }
    &__socials {
        display: flex;
        align-items: center;
        grid-gap: 11px;
        .social-item {
            display: block;
        }
        .social-item img {
            width: 31px;
            height: 31px;
            object-fit: contain;
        }
    }
    &__coopy {
        color: #A5A5A5;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__map img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}