body {
    font-family: 'Inter', sans-serif;
}
body,
html {
    scroll-behavior: smooth;
}
.container {
max-width: 1626px;
width: 100%;
margin: 0 auto;
}
.title {
    margin-bottom: 30px;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.08px;
}
